/* 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.detail-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 592px;
  padding-top: 24px;
  margin-top: 104px;
}

.board-title {
  display: flex;
  margin-right: auto;
}

.board-title .title {
  display: inline-block;
  font-family: 'insungitCutelivelyjisu';
  font-size: 28px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 12px;
  color: #8E4C3A;
}

.board-top {
  display: flex;
  width: 595px;
  margin-bottom: 24px;
}

.board-top .box {
  width: 36px;
  height: 36px;
  border-radius: 70%;
  overflow: hidden;
  margin-left: 24px;
  border: 2px solid #E6C4A5;
}

.board-top .profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.board-top .username {
  display: inline-block;
  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  font-weight: 700;
  color: #8E4C3A;
  padding-left: 10px;
  margin-top: 8px;
  margin-right: 24px;
}

.board-top .created-at {
  font-family: 'insungitCutelivelyjisu';
  font-size: 17px;
  color: #8E4C3A;
  margin-top: 8px;
}

.btn-container {
  display: flex;
  margin-left: auto;
}

.btn-container .modify-btn,
.btn-container .delete-btn {
  width: 50px;
  height: 27px;
  border-radius: 8px;
  border: none;

  font-family: 'insungitCutelivelyjisu';
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  line-height: 23.48px;
  text-align: center;
  margin-left: auto;
  margin-right: 24px;
  background-color: #F6B088;
  cursor: pointer;
}
.btn-container .modify-btn:hover,
.btn-container .delete-btn:hover {
  background-color: #E07F50;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(185, 122, 99, 0.15);
}


hr {
  width: 592px;
  border: 1px solid #E6C4A5;
  margin: 0;
}

.board-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-middle .board-image {
  display: flex;
  width: 544px;
  height: 306px;
  margin: 24px;
  border: 2px solid #E6C4A5;
}

.board-middle .board-content {
  display: flex;
  width: 544px;
  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  color: #8E4C3A;
  line-height: 1.6;
  text-align: left;
  word-break: break-all;
}

.board-info {
  display: flex;
  gap: 16px;
  margin: 12px 24px;
  font-family: 'insungitCutelivelyjisu';
  color: #8E4C3A;
 }
 
 .board-info span {
  display: flex;
  align-items: center;
  gap: 4px;

  cursor: pointer;
 }
 
 .like-count,
 .view-count,
 .reply-count {
  font-size: 16px;
  color: #B97A63;
}

 hr {
  border: 1px solid #E6C4A5;
  margin: 12px 0;
 }

.board-bottom .reply-container {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 182px;
  border-radius: 8px;
  border: 2px solid #E6C4A5;
  background: #FEFEFE;
  margin-top: 23px;
  margin-bottom: 24px;
}

input {
  display: flex;
  width: 595px;
  border: none;
}

.reply-container form {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 182px;
}

.reply-container textarea {
  display: flex;
  width: 544px;
  height: 94px;
  border: none;
  background-color: transparent;
  resize: none;
  margin: 34px 24px 0px 27px;

  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  color: #8E4C3A;
}

.reply-container textarea::placeholder {
  font-family: 'insungitCutelivelyjisu';
  color: #B97A63;
  text-align: left;
}

.reply-container textarea:focus {
  outline: none;
  border-color: #B97A63;
  box-shadow: 0 0 8px rgba(185, 122, 99, 0.2);
}

.reply-container .reply-btn {
  display: flex;
  width: 138px;
  height: 39px;
  border-radius: 16px;
  border: none;
  background: #F6B088;
  margin-left: auto;
  margin-top: 6px;
  margin-right: 8px;
  margin-bottom: 9px;

  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
}
.reply-container .reply-btn.active {
  background: #E07F50;
  cursor: pointer;
}
 
.reply-container .reply-btn.active:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(185, 122, 99, 0.15);
}


.reply-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 544px;
  height: 65px;
}

.reply-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.reply-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.reply-info .reply-info-wrap {
  display: flex;
}

.reply-info .reply-box {
  width: 36px;
  height: 36px;
  border-radius: 70%;
  border: 2px solid #E6C4A5;
  overflow: hidden;
}

.reply-info .reply-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reply-info .reply-username {
  display: inline-block;
  height: 20px;

  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  color: #8E4C3A;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  padding-left: 10px;
  margin-top: 8px;
  margin-right: 24px;
}

.reply-info .reply-created-at {
  display: inline-block;
  font-family: 'insungitCutelivelyjisu';
  font-size: 16px;
  color: #B97A63;
  line-height: 18.2px;
  text-align: right;
  margin-top: 8px;
}

.reply-content-container {
  display: flex;
}

.reply-content-container .reply-content {
  display: flex;
  width: 100%; 
  font-family: 'insungitCutelivelyjisu';
  font-size: 18px;
  color: #8E4C3A;
  line-height: 21.15px;
  text-align: left;
  margin: 8px 0px 0px 46px;
  word-break: break-all;
}

.reply-btn-container {
  display: flex;
  margin-left: auto;
  height: 27px;
  margin-top: 22px;
}

.reply-btn-container .modify-reply-btn,
.reply-btn-container .delete-reply-btn {
  width: 50px;
  height: 27px;
  border-radius: 8px;
  border: none;

  font-family: 'insungitCutelivelyjisu';
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  line-height: 23.48px;
  text-align: center;
  margin-left: auto;
  margin-right: 24px;
  background-color: #F6B088;
  cursor: pointer;
}
.reply-btn-container .modify-reply-btn:hover,
.reply-btn-container .delete-reply-btn:hover {
  background-color: #E07F50;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(185, 122, 99, 0.15);
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#board-modal,
#reply-modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 242px;
  border-radius: 12px;
  background: #F8E7D6;
}

.modal h2 {
  font-family: "Gaegu", cursive;
  font-size: 24px;
  font-weight: 700;
  color: #8E4C3A;
  line-height: 28.64px;
  text-align: center;
  margin: 0;
  padding: 48px 70px 0px 70px;
}

.modal p {
  font-family: "Gaegu", cursive;
  font-size: 20px;
  font-weight: 500;
  color: #B97A63;
  line-height: 23.87px;
  text-align: center;
  margin: 0;
  margin-top: 24px;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.cancel-btn,
.check-btn {
  width: 127px;
  height: 44px;
  border-radius: 12px;
  border: none;
  background-color: #F6B088;

  margin: 10px;

  font-family: "Gaegu", cursive;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 23.87px;
  text-align: center;
  cursor: pointer;
}

.cancel-btn:hover,
.check-btn:hover {
  background-color: #E07F50;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(185, 122, 99, 0.15);
}
