/* 폰트 추가 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

p {
    margin: 0;
}

/* 페이지 설정 */
body {
    display: flex;
    align-items: center;
    flex-direction: column;    
    background: #F4F5F7;
    font-family: "Noto Sans KR", sans-serif;
}

header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    width: 1920px;
    height: 103px;
    border-bottom: 1px solid #000000;
    top: 0;
}

header h1 {
    display: flex;
    width: 206px;
    height: 32px;

    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
header .profile-container {
    position: absolute;
    right: 688px;
    display: flex;
    align-items: center;
}

.profile-box {
    width: 36px;
    height: 36px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown {
    display: none;
    position: absolute;
    width: 115px;
    height: 105px;
    background: #F4F5F7;
    margin-top: 8px;
    right: 0px;
}

.dropdown ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.dropdown li {
    display: block;
    list-style: none;
    padding: 6px 0px;
    text-align: center;
}

.dropdown:hover {
    background-color: #E9E9E9; 
}

.dropdown a {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration-line: none;
    color: #000000;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 392px;
    background-color: transparent;
    padding-top: 161px;
    margin-top: 104px;
}

.wrap h2 {
    display: flex;
    font-family: Pretendard;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.19px;
    margin: auto auto 12px auto;
    text-align: center;
}

.profile-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 206px;
    margin-bottom: 33px;
}

.profile-area .profile {
    display: flex;
    height: 18px;
    
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: left;
    margin: 12px 0px 4px 33px;

}

.profile-area small {
    display: flex;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    margin: 1px 0px 12px 34px;
    color: red;
}

.circle {
    display: flex;
    width: 149px;
    height: 149px;
    background: #C4C4C4;
    border-radius: 50%;
    margin: 8px auto auto;
}

.circle .modify-file-btn {
    width: 52px;
    height: 27px;
    border-radius: 25px;
    background: #00000059;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;

    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: center;
    color: #FFFFFF;

    margin: auto;

}

.form {
    display: flex;
    position: relative;
    width: 392px;
    height: 145px;
}

label {
    display: flex;
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    text-align: center;
    margin: 0px 0px 0px 19px;
}

.user-email {
    height: 17px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left; 
    margin: 16px 0px 16px 19px;
}

input {
    display: flex;
    justify-content: center;
    width: 333px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: #F4F5F7;
    margin: 8px 18px 0px 19px;
    padding: 8px 10px;
}

input::placeholder {   
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    color: black;
}

.modify-form small {
    display: flex;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: red;
    margin: 4px 0px 4px 20px;
}

.modify-form .modify-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 33px;
    border-radius: 4px;
    border: none;
    background: #ACA0EB;
    margin: 0px 19px 12px 18px; 

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    text-align: center;
    color: white;
}

.delete-link {
    display: flex;
    margin: auto;
    width: 327px;
    height: 41px;
    justify-content: center;
}

.delete-link p {
    display: flex;
    height: 17px;
    margin: 6px auto 0px;

    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    text-align: left;
    color: black;
    text-decoration-line: none;

    cursor: pointer;
}

.modify-user-btn {
    width: 102px;
    height: 46px;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    border: none;
    background: #ACA0EB;
    margin: 61px auto auto auto;

    font-family: Pretendard;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #FFFFFF;
}

.modal-container {
    display: none;
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal h2 {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.64px;
    text-align: center;
    margin: 0;
    padding: 48px 91px 0px 91px;
}

.modal p {
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    margin: 0;
    margin-top: 24px;
}

#user-modal {
    display: none;
    position: fixed;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 408px;
    height: 242px;
    border-radius: 12px;
    background: #FFFFFF;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.cancel-btn {
    width: 127px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background: #242424;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    color: white;

    margin-right: 16px;
}

.check-btn {
    width: 127px;
    height: 44px;
    border-radius: 12px;
    border: none;
    background: #C4A5FA;

    font-family: Pretendard;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;

}


